*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: var(--LightGrayishBlue);

}
:root{
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);
    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);
    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);
}
header{
    width: 100%;
    height: auto;


}
.container{
    max-width:1200px;
    padding-inline: 50px;
    margin-inline: auto;
}
.flex-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    padding-top: 10px;
}
.logo img{
    width: 100px;
}
.nav-head ul{
    display: flex;
    align-self: flex-end;
    list-style: none;
}
.nav-head ul li a{
    color: var(--DesaturatedBlue);
    padding: 0 10px;
    text-decoration: none;
}
/*----*/

.hero-section{
    padding-top: 100px;
}
.hero-content{
max-width: 500px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content h1{
    font-size: 1.4rem;
    line-height: 30px;
}
.hero-content p{
    margin-top: 20px;
    line-height: 25px;
    max-width: 500px;
}
.btn{
    margin-top: 20px;
}
.btn input{
    outline: 0;
    border: 1px solid var(--VeryDarkBlue);
    /* padding: 10px 20px; */
    padding: 0.5rem 1.2rem;
    border-radius: 3px;
    

}
.btn button{
    /* padding: 10px 30px; */
    /* padding: 0.5rem 1.7rem; */
    outline: 0;
    border: 0;
    background-color: var(--BrightBlue);
    cursor: pointer;
    color: white;
    border-radius: 3px;
    padding: 10px 15px;
}
.hero-img{

flex-shrink: 0.8;
}
.hero-img img{
    
    width: 100%;
}





@media screen and (max-width:768px){
    .container {
        padding: 20px;
    }
    .hero-section{
        padding-top: 70px;
    }
    .hero-content h1{
        font-size: 2rem;
    }
    .flex{
        text-align: center;
        flex-direction: column-reverse;
        gap: 30px;
    }
    /* .hero-img img{
        width: 300px;
    } */
    .btn{
        margin-top: 20px;
    }
    .btn input{
        width: 100%;
    
    }
    .btn button{
        margin-top: 10px;
        width: 100%;
    }
    .logo img{
        width: 70px;
    }
    
}
